<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="container">
        <div>
            <h2>Register</h2>
            <p>Please fill in this form to create an account</p>
        </div>
        <div class="line"></div>
        <div>
            <div>
                <p class="header-input"><b>Email</b></p>
                <div class="input">
                    <input type="email" placeholder="Enter email">
                </div>

            </div>
            <div>
                <p class="header-input"><b>Password</b></p>
                <div class="input">
                    <input type="password" placeholder="Enter password">
                </div>
                
            </div>
            <div>
                <p class="header-input"><b>Repeat Password</b></p>
                <div class="input">
                    <input type="password" placeholder="Repeat password">
                </div>
                
            </div>
            <div class="line"></div>
            <p>By creating an account you agree to our
                <span><a href="./">Terms & Privacy</a></span>
            </p>
            <div class="input">
                <button class="button-register">Register</button>
            </div>
            
        </div>
        <div class="line"></div>
        <div >You already have account? <a  href="../index.html">Login Now!!</a></div>
    </div>

</body>

</html>