<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="container">
        <div>
            <h2>Register</h2>
            <p>Please fill in this form to create an account</p>
        </div>
        <div style="border-bottom: 1px solid; border-bottom: 1px solid; border-color:rgba(58, 57, 57, 0.288);"></div>
        <div>
            <div>
                <p class="header-input"><b>Email</b></p>
                <div class="input">
                    <input type="email" placeholder="Enter email">
                </div>

            </div>
            <div>
                <p class="header-input"><b>Password</b></p>
                <div class="input">
                    <input type="password" placeholder="Enter password">
                </div>
                
            </div>
            <div>
                <p class="header-input"><b>Repeat Password</b></p>
                <div class="input">
                    <input type="password" placeholder="Repeat password">
                </div>
                
            </div>
            <div style="border-bottom: 1px solid; border-color:rgba(58, 57, 57, 0.288); margin-top: 16px;"></div>
            <p>By creating an account you agree to our
                <span><a href="./">Terms & Privacy</a></span>
            </p>
            <div class="input">
                <button class="button-register">Register</button>
            </div>
            
        </div>
        <div style="border-bottom: 1px solid; border-bottom: 1px solid; border-color:rgba(58, 57, 57, 0.288);margin-top: 10px; margin-bottom: 10px;"></div>
        <div class="col-span-12 mb-1 text-sm text-center">You already have account? <a class="font-semibold text-primary lg:hover:underline" href="../index.html">Login Now!!</a></div>
    </div>

</body>

</html>